<div class='kubik-wysiwyg-component--items-action'>
  <div class='kubik-wysiwyg-component--items-action kubik-wysiwyg-component--items-action--icon material-symbols-outlined kubik-repeater-expand-action' data-action='click->kubik-repeater#toggleItem' data-item-index='<%= @index %>'>expand_more</div>
</div>
