.kubik--dz-message {
  display: none;
}
.dz-preview {
  flex: 0 1 180px;
  height: 180px;
  position: relative;
  margin-top: 1rem;
  margin-right: 1rem;
  max-width: 180px;
  .dz-image {
    position: relative;
    width: 100%;
    height: 100%;
    img { display: block; }
    &:after {
      content: '';
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      background: rgba(0, 0, 0, .5);
    }
  }
  .dz-details {
    margin:.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    max-height: 3rem;
    max-width: 90%;
    max-width: calc(100% - 1rem);
    overflow: hidden;
    color: white;
    text-align: center;
    font-size: .8rem;
    .dz-size { font-weight: bold; }
    .dz-filename {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .dz-progress {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 2rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .dz-upload {
      background: var(--kubik-interface-color-brand-400);
      height: .5rem;
      border-radius: .25rem;
    }
  }
  .dz-error-mark, .dz-success-mark {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 2rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &.dz-success .dz-progress
  .dz-error .dz-progess {
    display: none;
  }
  .dz-error-message {
    display: none;
    margin:.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    max-width: 90%;
    max-width: calc(100% - 1rem);
    overflow: hidden;
    color: var(--kubik-interface-color-alert);
    text-align: center;
    font-size: .8rem;
    font-weight: bold;
  }
  &.dz-error {
    .dz-details { display: none; }
    .dz-error-message {
      display: flex;
    }
  }
  .dz-success-mark {
    display: none;
    justify-content: center;
  }
  &.dz-success .dz-success-mark {
    display: flex;
  }
  &.dz-error .dz-error-mark {
    display: flex;
  }
  &.dz-success .dz-progress,
  &.dz-error .dz-progress {
    display: none;
  }
}
.dz-drag-hover {
  .kubik--dz-message {
    background: var(--kubik-interface-color-brand-400);
    border-color: transparent;
    border-radius: .2rem;
    &-header, &-hint, &-link {
      color: white;
    }
  }
}

