#kubik-media-gallery--file_upload_form {
  &.media_upload_form {
    border: 1px solid var(--kubik-interface-color-grey-200);
    background: white;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    position: relative;
    fieldset {
      padding: 0;
      margin: 0;
      legend, ol { border: 0; }
      &.inputs {
        display: grid;
        width: 100%;
        grid-template-columns: 10rem 1fr;
        grid-template-rows: 3.5rem;
        legend {
          display: block;
          width: auto;
          padding: 1rem;
          grid-column: 1/2;
          grid-row: 1/2;
          float: left;
          display: flex;
          align-items: center;
        }
        ol {
          display: flex;
          align-items: center;
          flex: 1;
          position: relative;
          padding: 0;

          label { display: none; }
          input, .upload_placeholder {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
          }
          .upload_placeholder {
            display: flex;
            flex: 1;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            .upload-icon {
              display: block;
              color: var(--kubik-interface-color-brand-400);
              font-size: 1rem;
              margin-right: 1rem;
            }
            &.no-file .upload-icon {
              color: var(--kubik-interface-color-grey-300);
            }
          }
          #kubik_media_upload_image_input {
            padding: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
          input {
            opacity: 0;
          }
        }
      }
      &.actions {
        display: flex;
        justify-content: center;
        flex: 1 0 auto;
        padding-right: 1rem;
        ol {
          padding-top: 0;
          padding-bottom: 0;
          input[type=submit] {
            margin-right: 0;
          }
        }
      }
    }
    #upload-text {
      text-align: center;
      margin: 0;
    }
  }
  #kubik_media_upload_submit_action {
    display: none;
  }
}

#kubik-media-gallery--file_upload_form--container {
  flex: 0 0 calc(100% - 1rem);
  margin: .5rem;
  &.dropzone_ready {
    .kubik--dz-message {
      display: flex;
    }
    .media_upload_form {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      border: 0;
      font-family: 'Lato', sans-serif;
      background: transparent;
      &.dz-drag-hover {
        border-color: transparent;
      }
      fieldset {
        &.inputs { display: none; }
      }
    }
  }
}
