.kubik-media-gallery {
  &--file_select_container {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 2px dashed var(--kubik-interface-color-grey-200);
    border-radius: .2rem;
    cursor: pointer;
    .material-icon {
      display: block;
      color: var(--kubik-interface-color-grey-500);
      text-align: center;
      transition: color .15s;
    }
    &__small {
      width: 204px;
      height: 204px;
    }
  }
  &--media_item_action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .material-symbols-outlined {
      font-size: 1rem;
      margin-right: .25rem;
    }
    &--text {
      @include kubik-form-hint;
      margin: 2px 0 0;
    }
    &__brand {
      &:hover {
        .kubik-media-gallery--media_item_container--icon,
        .kubik-media-gallery--media_item_action--text {
          color: var(--kubik-interface-color-brand-500);
        }
      }
    }
    &__alert {
      &:hover {
        .kubik-media-gallery--media_item_container--icon,
        .kubik-media-gallery--media_item_action--text {
          color: var(--kubik-interface-color-alert);
        }
      }
    }
    &__notice {
      &:hover {
        .kubik-media-gallery--media_item_container--icon,
        .kubik-media-gallery--media_item_action--text {
          color: var(--kubik-interface-color-notice);
        }
      }
    }
  }
  &--file_select_header {
    @include kubik-typography-h4;
    text-align: center;
    margin-bottom: .5rem;
    transition: color .15s;
  }
  &--file_select_link {
    @include kubik-typography-title;
    margin-bottom: .5rem;
    text-align: center;
  }
  &--file_select_hint {
    @include kubik-form-hint;
    text-align: center;
  }
}
.kubik-image-placeholder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .kubik-media-gallery--media_item_container {
    flex: 0 0 204px;
    width: 204px;
    height: 204px;
    margin-right: .5rem;
    margin-bottom: .5rem;
    .kubik-media-gallery--media_item_container--image {
      margin: 1rem 0;
    }
  }
}
.kubik-image-placeholder .kubik-media-gallery--file_select_container {
  flex: 0 0 204px;
  margin-right: .5rem;
  margin-bottom: .5rem;
  transition: border-color .15s;
  &:hover {
    border-color: var(--kubik-interface-color-brand-500);
    .material-icon {
      color: var(--kubik-interface-color-brand-500);
    }
    .kubik-media-gallery--file_select_header {
      color: var(--kubik-interface-color-brand-500);
    }
  }
}
