<%= content_tag(:div, id: "kubik_media_upload_#{image.id}",
                class: 'kubik-media-gallery--media_item_container kubik-media-gallery--media_item_container__small',
                'data-selected-kubik-media-upload-id': image.id,
                'data-selected-thumb': image.admin_image_thumbnail,
                'data-action': 'click->kubik-modal#selectModal') do %>
  <% file = image.image.present? ? image.image : image.file %>
  <% mime_type = file.metadata['mime_type'] %>
  <% file_type = Hash[ [:type, :format].zip(mime_type.split("/")) ] %>
  <%= render 'selectable_image_preview', image: image, file: file, mime_type: mime_type, file_type: file_type, modal: modal %>
  <div class='kubik-media-gallery--media_item_container--title'>
    <%= file.metadata['filename'] %>
  </div>
<% end %>

