<% if @field_value.present? %>
  <% if @field[:type] == 'resource' %>
    <%= render Kubik::WysiwygEditor::Common::Resource.new(@field, @data, @tab, @index) %>
  <% else %>
  <% end %>
<% else %>
  <div class='header'>
    <%= @index %>
  </div>
<% end %>
