<div class='kubik-autocomplete-container'>
  <div data-action='click->kubik-widget#addItem'
       data-target-list='<%= @tab[:name] %>'
       class='kubik-wysiwyg-component--add-item'>
    <%= @repeater_settings[:add_label] %>
  </div>
</div>
