<div class='kubik-wysiwyg-component--items-action'>
  <div class='kubik-wysiwyg-component--items-action kubik-wysiwyg-component--items-action--icon material-symbols-outlined kubik-repeater-delete-action' data-action='click->kubik-widget#removeItem' data-target-list='<%= @tab_name %>' data-item-index='<%= @index %>'>close</div>
</div>
